# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log

# Ansible
*.retry
vault.yml
.vault_pass

# Secrets
**/secrets/
**/.env
**/.env.*

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
