global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
  
  - job_name: "node_exporter"
    file_sd_configs:
      - files:
          - "{{ prometheus_dir }}/targets/node_exporter.json"
        refresh_interval: {{ prometheus_refresh_interval }}