apiVersion: 1

datasources:
{% for ds in grafana_datasources  %}
  - name: {{ ds.name }}
    type: {{ ds.type }}
    access: {{ ds.access }}
    url: {{ ds.url }}
    isDefault: {{ ds.isDefault | default(false) | lower }}
    uid: {{ ds.uid | default(ds.name | lower) }}
{% endfor  %}