[defaults]
host_key_checking = False
vars_path = ./enviroments/{{ product_env }}/group_vars
hash_behaviour = merge
interpreter_python = auto_legacy_silent
deprecation_warnings = False
roles_path = ./roles
log_path = ./ansible.log
forks = 30
remote_tmp = /tmp
local_tmp = /tmp
ansible_python_interpreter = /usr/bin/python3
